<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HealthcareData.Properties.Settings.WolfHealthcareConnectionString"
            connectionString="Data Source=DESKTOP-PJJLTO9;Initial Catalog=WolfHealthcare;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>